@keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .NavbarContainer {
    animation: aparecer 0.5s ease-in-out; /* Ajusta la duración y la función de temporización según tus preferencias */
  }

.menuResponsive{
  display: none;
}



.NavbarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.204);
    background-color: white;
    width: 100%;
}



.Navbar{
    display: flex;
    width: 85%;
    margin: 15px auto;
    justify-content: space-between;
    align-items: center;
    
    
}


.Navbar img{
    width: 180px;
    cursor: pointer;
    
}

.menuPrincipal{
    display: flex;
    margin: auto 0;
    font-size: 1.5rem;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.menuPrincipal a{
    margin: 0 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(18, 18, 18, 0.884);
}

.menuPrincipal a:hover{
    color: #000;
}

@media screen and (max-width: 1024px) {
  .Navbar img{
    width: 120px;
    cursor: pointer;
    
}
  
}

@media screen and (max-width: 768px) {
  .Navbar img{
    width: 120px;
    cursor: pointer;
    
}



.Navbar{
  display: flex;
  width: 85%;
  margin: 15px auto;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  
  
  
}

.menuPrincipal{
  display: none;
}

.menuResponsive{
  display: flex;
}
  
}

@media screen and (max-width: 425px){
  .Navbar img{
    width: 100px;
    cursor: pointer;
    
}


}




.FooterMain{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  min-height: 15vh;
}

.informaciones{
  display: flex;
  flex-direction: column;
  color: white;
  height: 150px;
  text-align: start;
  margin: 20px 0;
}

.informaciones p {
  margin: 90px;
  margin-left: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
  .informaciones p {
      margin: 2px 20px;
      font-size: 0.8rem;
  }

}

@media screen and (max-width: 430px) {

  .FooterMain{
    flex-direction: column;
  }

  .informaciones{
    margin: 5px;
    width: 200px;
    align-items: center;

  }
  


  .informaciones p {
      margin: 2px 5px;
      font-size: 0.6rem;
  }

  

}


@media screen and (max-width: 425px) {
  .informaciones p {
      margin: 2px 5px;
      font-size: 0.6rem;
  }

  

}

@media screen and (max-width: 320px) {
  .informaciones p {
      margin: 2px 5px;
      font-size: 0.5rem;
  }

  

}


@media screen and (max-width: 280px) {
  .informaciones p {
      margin: 2px 5px;
      font-size: 0.4rem;
  }

  .informaciones h3{
      font-size: 0.8rem;
  }

  

}
