.contanierCar{
    position: relative;
    
}


.containerArticle{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}


.articleCarrousel{
    margin: 40px 10px;

}





.carousel-container{
    width: 80%;
    margin: auto;
    
}


.cargando {
    margin: auto;
    position: relative;
    width: 100vh;
}


@media screen and (max-width: 425px) {

    .carousel-container{
        width: 100%;
        margin: auto;
        
    }
    
}